.main-block {
    min-width: 1920px;
    height: 1025px;
    width: 100%;
    background: radial-gradient(71.89% 152.21% at 40.1% 50%,
            #B5E6FF 0%, #59C3FB 100%);
}

a {
    text-decoration: none;
    color: black;
}


.main-block__content {
    top: 0px;
    width: 1920px;
    height: 1025px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


/* #region toolbar */

.alligator-text-xy {

    position: absolute;
    width: 49px;
    height: 19px;
    left: 70px;
    top: 23px;

}



.to-upper-case {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    /* padding-top: */
}

.toolbar {
    z-index: 1;
    display: flex;
    height: 380px;
    width: 111px;
    position: fixed;
    top: 287px;
    left: 0px;
    justify-content: center;
    align-items: center;
    background: url(../../../assets/icons/toolbar_bg.svg);
}

.toolbar__pictures {
    height: 354px;
    width: 64px;
    align-self: center;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toolbar__el {
    width: 64px;
    height: 64px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px white inset;

}

.toolbar__el:hover .tooltip__before {
    visibility: hidden;

}


.toolbar__el:hover {
    box-shadow: 0px 0px 0px 4px #70CB0E inset;

}


.selected {
    box-shadow: 0px 0px 0px 4px #70CB0E inset;
}


.toolbar__gorilla {
    background: url(../../assets/icons/toolbar__gorilla.png);

    position: absolute;
    /* width: 136px; */
    /* height: 64px; */
    left: calc(50% - 136px/2 + 143px);
    top: calc(50% - 64px/2 + 164.5px);
}

.gorilla-text-xy {
    position: absolute;
    /* width: 64px;
    height: 19px; */
    left: 72px;
    top: 22px;

}

.gorilla-text-xy-2 {
    position: absolute;
    /* width: 61px;
        height: 42px; */
    left: calc(50% - 61px/2 - 38.5px);
    top: calc(50% - 42px/2 + 171.5px);
}

.toolbar__alligator {
    background: url(../../assets/icons/toolbar__alligator.png)no-repeat;
    position: absolute;
    /* width: 148px; */
    /* height: 60px; */
    left: calc(50% - 158px/2 - 199.5px);
    top: calc(50% - 30px/2 + 50px - 3px);
    display: flex;
    justify-content: space-between;
}

.eagle-text-xy {
    position: absolute;

    width: 49px;
    height: 19px;
    left: -58px;
    top: 23px;
}

.toolbar__eagle {
    background: url(../../assets/icons/toolbar__eagle.png);

    position: absolute;
    /* width: 121px;
    height: 64px; */
    /* left: 457px; */
    left: calc(50% - 64px/2 - 471px);
    top: calc(50% - 64px/2 + 55.5px);
    /* top: calc(50% - 64px/2 + 55.5px); */
    /* right: 165px; */

}

.usa-xy {
    position: absolute;
    width: 31px;
    height: 19px;
    left: calc(50% - 31px/2 - 363.5px);
    top: calc(50% - 19px/2 + 14px);

}

.eastern-drc-xy {
    position: absolute;
    width: 61px;
    height: 42px;
    left: calc(50% - 61px/2 - 38.5px);
    top: calc(50% - 42px/2 + 171.5px);
}

.china-xy {
    position: absolute;
    width: 41px;
    height: 19px;
    left: calc(50% - 41px/2 + 273.5px);
    top: calc(50% - 19px/2 + 28px);
}

.panda-text-xy {

    position: absolute;
    width: 52px;
    height: 38px;
    left: 72px;
    top: 13px;
}

.toolbar__panda {
    background: url(../../assets/icons/toolbar__panda.png);
    position: absolute;
    /* width: 124px; */
    /* height: 64px; */
    left: calc(50% - 64px/2 + 374px);
    top: calc(50% - 64px/2 + 68.5px);

}

.toolbar__circle-svg {
    display: flex;
    justify-content: center;
    background-color: #70CB0E;
}

.toolbar__panda-svg {
    margin: 0;
    align-self: center;
}

/*#region tooltip*/



.tooltip__text {
    text-align: center;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}


.tooltip {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    /* width: 102px; */
    width: 94px;
    /* height: 48px; */
    background-color: #70CB0E;
    padding: 6px 4px 6px 4px;
    color: black;
    /* красивее смотрится когда скруглены углы */
    border-radius: 2px;
    left: 110%;
    opacity: 0;
    transition: 0.3s linear;
    transition: opacity 0.5s;
    visibility: hidden;
    /* сместить */
    transform: translateY(15%);

}


.tooltip__before {
    visibility: visible;

}



.tooltip::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent #70CB0E transparent transparent;
}

.selected .tooltip,
.toolbar__el:hover .tooltip {
    opacity: 1;
    visibility: visible;
}



/*#endregion tooltip*/

/* #endregion toolbar */


.main-block__header {
    width: 1920px;
    height: 80px;
    user-select: none;
    position: relative;
}

.main-block__map {
    position: relative;
    width: 1920px;
    height: 945px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.map__content {
    width: 1160px;
    height: 745px;
    align-self: center;
    margin: 0 auto;
    position: relative;
}

.map__world {
    width: 1160px;
    height: 745px;
    background-image: url(../../assets/images/map.svg);
}





.map__zoom {
    position: sticky;
    width: 32px;
    height: 80px;
    left: 95%;
    bottom:100px;

    z-index: 5;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    background-color: white;
    border-radius: 8%;
    cursor: pointer;

}

.map__minus {
    position: absolute;
    left: 31.25%;
    right: 31.25%;
    top: 22%;
    bottom: 75%;
}

.map__line-center {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 49%;
    bottom: 50%;
}

.map__plus-ver {
    position: absolute;
    left: 30%;
    right: 9.38%;
    top: 72.66%;
    bottom: 18.75%;
    transform: rotate(-90deg);
}

.map__plus-hor {
    position: absolute;
    left: 31.25%;
    right: 31.25%;
    top: 72%;
    bottom: 25%;
}

@media all and (max-width: 1200px) {

    .main-block {
        min-width: 1200px;
    }

    .main-block__map {
        width: 1200px;
    }

    .toolbar__eagle {
        left: calc(50% - 64px/2 - 474px);
        top: calc(50% - 64px/2 + 52.5px);
    }

    .toolbar__alligator {
        left: calc(50% - 64px/2 - 248px);
        top: calc(50% - 64px/2 + 61.5px);
    }

    .eastern-drc-xy {
        left: calc(50% - 61px/2 - 38.5px);
        top: calc(50% - 42px/2 + 171.5px);
    }

    .toolbar__panda {
        left: calc(50% - 64px/2 + 374px);
        top: calc(50% - 64px/2 + 62.5px);
    }

}


@media all and (max-width: 640px) {
    /* //////////////// */

    html {
        overflow-x: hidden;
    }

    .main-block {
        min-width: 640px;
        width: 100%;
        height: 880px;
        ;
    }

    .main-block__content {
        width: 640px;
        height: 880px;
    }

    .main-block__map {
        width: 640px;
        height: 800px;
    }

    .map__content {
        width: 640px;
        height: 800px;

    }

    .map__world {
        background-image: url(../../assets/icons/map640.svg);
        width: 933px;
        height: 600px;
        position: relative;
        left: 0;
        top: 100px;
    }

    .usa-xy {
        top: 399px;
        left: 11px;
    }

    .eastern-drc-xy {
        top: 527px;
        left: 245px;
        width: 73px;
        height: 42px;
    }

    .china-xy {
        top: 417px;
        left: 515px;
    }

    .toolbar__alligator {
        top: 410px;
        left: 100px;
    }

    .toolbar__gorilla {
        left: calc(50% - 64px/2 + 92px);
        top: calc(50% - 64px/2 + 125px);

    }

    .toolbar__eagle {
        display: hidden;
    }

    .toolbar__alligator {
        display: hidden;

    }

    /* 
    .eastern-drc-xy {
        left: calc(50% - 73px/2 - 38.5px);
        top: calc(50% - 42px/2 + 148px);
    } */

    .toolbar__panda {
        left: calc(50% - 64px/2 + 307px);
        top: calc(50% - 64px/2 + 38px);
    }

}





@media all and (max-width: 320px) {
    /* //////////////// */

    html {
        overflow-x: hidden;
    }

    .main-block {
        min-width: 320px;
        width: 100%;
        height: 880px;
        ;
    }

    .main-block__content {
        width: 320px;
        height: 880px;
    }

    .main-block__map {
        width: 320px;
        height: 800px;
    }

    .map__content {
        width: 320px;
        height: 800px;

    }

    .map__world {
        background-image: url(../../assets/icons/map640.svg);
        width: 933px;
        height: 600px;
        position: relative;
        top: 99px;
        left: -41px;
    }

    .usa-xy {
        top: 399px;
        left: 11px;
    }

    .eastern-drc-xy {
        left: calc(50% - 73px/2 + 80.5px);
        top: calc(50% - 42px/2 + 148px);
        width: 73px;
        height: 42px;
    }

    .china-xy {
        top: 417px;
        left: 515px;
    }

    .toolbar__alligator {
        left: calc(50% - 64px/2 - 70px);
        top: calc(50% - 64px/2 + 43px);
    }

    .toolbar__gorilla {
        display: none;

    }

    .toolbar__eagle {
        display: hidden;
    }

    .toolbar__panda {
        display: hidden;
    }

}