@font-face {
    font-family: 'SceneW01-Black';
    src: url(./assets/fonts/12309.ttf);
}
.body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}


.btn {
    z-index: 5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    /*  */
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px 30px 15px;
    /* background-color: Transparent; */

    background: #70CB0E;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s linear;


}

.btn:hover {
    background-color: #ffbb00;
    /* background-color: #60af0c; */
    /* background-color: #00791a; */
    /* background-color: orange; */
    /* position: relative; */
    /* top:-1px; */
    text-shadow: orange 1px 1px 0;
    transform: scale(1.05);

}

.btn:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
    background: #8F5613;
    border: 2px solid #8F5613;
}

/*#region header*/
/* .header-block {
    min-width: 1920px;
    width: 100%;
    height: 700px;
    background: radial-gradient(71.89% 152.21% at 40.1% 50%,
            #B5E6FF 0%,
            #59C3FB 100%);
} */

.header {
    /* position: relative; */
    z-index: 10;
    width: 1920px;
    height: 80px;
    user-select: none;
    position: relative;
    margin: 0 auto;
}

.header__content{
    width: 578px;
    height: 80px;
    display: flex;
    margin-left: 380px;
    justify-content: space-between;
}

.header__logo {
    z-index: 2;
    /* position: absolute; */
    width: 112px;
    height: 57px;
    /* left: 380px; */
    /* top: 0px; */
    border-radius: 3px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 12px;
}

.header__navigation {
    /* position: absolute; */
    width: 409px;
    height: 21px;
    margin: auto 0;
    /* left: 549px; */
    /* top: 30px; */
}

.header__list {
    margin: 0;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__links {
    width: 49px;
    height: 21px;
    left: 0px;
    top: 0px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #000000;
    transition: 0.3s linear;
}

.header__links:hover {
    color: #18c23d;

text-shadow: #70cb0e 1px 1px 0;

}

.text-shadow {
    width: 49px;
    height: 21px;
    left: 0px;
    top: 0px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #000000;
    transition: 0.3s linear;

    text-shadow: #70cb0e 1px 1px 0, #70cb0e -1px -1px 0,
        #70cb0e -1px 1px 0, #70cb0e 1px -1px 0;
        cursor: default;

}

/*#endregion header */

/*#region footer */

.footer__wrapper {

    min-width: 1920px;
    width: 100%;
    height: 270px;
    left: 0px;
    right: 0px;
    /* ! не удалять !  */
    background-color: #DFF5B0;
}

.footer {
    position: relative;
    margin: auto;
    height: 270px;
    width: 1920px;
    top: 0px;
}

.footer__vector {
    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0px;
    left: 0.68%;
    right: -0.09%;
    top: -7%;
    bottom: 10.27%;
    background-image: url(./assets/icons/footer-vect-big.svg);
}

.footer__vector-small {
    background-repeat: no-repeat;
    z-index: 0;
    position: absolute;
    left: 6.7%;
    right: 90.67%;
    top: 1.76%;
    bottom: 89.58%;
    transform: matrix(1, -0.03, 0.04, 1, 0, 0);
    background-image: url(./assets/icons/footer-vect-small.svg);

}

.footer__container {
    position: relative;
    z-index: 1;
    width: 1160px;
    padding-top: 80px;
    margin: 0 auto;

}

.footer__first-line {
    max-width: 1160px;
    display: flex;
    justify-content: space-between;

}

.footer__logo {
    margin: 0px;
    

}

.footer__btn-donate {
    height: 50px;
    position: relative;
    left: -29px;
}

.footer__navigation {
    text-decoration: none;
    display: flex;
    width: 256px;
    height: 57px;
    justify-content: space-between;
    position: relative;
    top: 2px;
    right: -4px;
}

.footer__nav-block {
    align-items: flex-start;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin: 0;
    /* width:90px; */
}

.footer__links {
    text-decoration: none;
    list-style: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
transition: 0.2s linear;

}


.footer__links:hover {
/* position: relative; */
/* top:-1px; */
color: #18c23d;

text-shadow: #70cb0e 1px 1px 0;
/* color: #333; */
/* font-size: 18.5px; */
/* line-height: 22px; */

/* transform: scale(1.6); */


}

.footer__social {
    width: 190px;
    height: 40px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin: 0;
}

.footer__icons {
   
    cursor: pointer;
    transition: 0.3s linear;
    border-radius: 50%;
    background-color:white;
}
.footer__icons:hover {
    transform: scale(1.1);
}

.footer__second-line {
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
}

.footer__school-logo {
    width: 295px;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.footer__text {
    display: flex;
    align-items: flex-end;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    /* right: 69px; */
    top: 1px;

}

.to-left-text {
    position: relative;
    right: 69px;
}

/*#endregion footer*/
/* #region media-1200 */


@media all and (max-width: 1200px) {
 

    .header {
        width: 100%;
    }

    .header-block__content {
       margin: 0 auto;
        width: 100%;
        overflow: hidden;
    }

    .header__content {
        margin-left: 20px;
    }

    /*Footer*/

    .footer__wrapper {
        min-width: 1200px;
        width: 100%;
    }

    .footer {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .footer__vector {
        background-image: url(../../assets/icons/footer-vector-1200.svg);
    }

}

/* #endregion media-1200 */

/* #region media-640px */

@media all and (max-width: 640px) {
    .header-block {
        min-width: 640px;
        width: 100%;
        height: 700px;
    }


    /* #region header */
    .header {
        width: 100%;
        z-index: 5;
    }

    .header-block__content {
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
    }

    /* #endregion header */

    /* #region footer-640 */

    

    /* #endregion footer-640 */
}